*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/top-rept.jpg);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
.container{
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 1%;

}
.content{
    background-color: aliceblue;
    padding: 2px 15px;
    height: 100%;
}
header{
    color: skyblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image: url(./assets/header-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px 30px 60px;
    /* background-color: rgb(141, 139, 136); */
}

/* Navbar  */

ul{
    height: 40px;
    background-image: url(./assets/menubg.jpg);
    display: flex;
    color: aliceblue;
}
ul>li{
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    padding-left: 70px;
    font-size: large;
    font-family: sans-serif;
}

.ideas{
    background-image: url(./assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    color: white;
    padding: 80px 0px 20px 80px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

/* welcome section */
.welcome{
    display: flex;
    margin-top: 10px;
    font-family: sans-serif;
    border-bottom: 2px solid rgb(207, 200, 200);
    padding-bottom: 20px;
    width: 75%;
}
.welcome-content{
    margin-left: 10px;
    color: rgb(99, 95, 95);
}
.wellcome-title{
    font-size: 30px;
    margin-bottom: 20px;
    /* color: rgb(99, 95, 95); */
}
.wellcome-title span{
    color: rgb(165, 154, 154);
}
.well-para{
    font-size: 13px;
}

.works{
    display: flex;
    margin: 20px 0px;
}
.works h2{
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(92, 197, 238);
}
.works h4{
    text-decoration: underline;
    opacity: .7;
}
.works p{
    opacity: .6;
}
article{
    padding: 20px;
    background-color:rgb(247, 240, 240);;
}
#services{
    width: 150%;
}
#clients{
    border: 1px solid rgb(226, 217, 217);
}